.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 44px;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard-Regular";
  margin: 0px auto;
  font-size: 14px;
  max-width: 1440px;
}

a {
  text-decoration-line: none;
  text-decoration: none;
  color: black;
}

/* header */

.sticky {
  position: sticky;
  top: 0;
  padding-top: 7px;
  background-color: white;
  z-index: 100;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
}

#logo {
  font-family: "LINESeedKR-Bd";
  font-size: 36px;
  margin: 5px 0px;
  cursor: pointer;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

.icon {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  align-items: center;
  color: black;
  text-decoration: none;
  transform: scale(1.8);
  cursor: pointer;
  z-index: -100;
}

icon:hover {
  font-weight: 900;
}

/* nav */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 0px;
}

nav > ul {
  font-size: 36px;
  margin-right: 50px;
}

ul {
  font-family: "LINESeedKR-Bd";
  font-weight: lighter;
  font-size: 24px;
  list-style: none;
  padding: 0px;
  margin: 10px 20px 0px 0px;
  border-bottom: 5px solid white;
}
#nav-sale {
  border-bottom: 5px solid black;
}

/* main */

article {
  width: 100%;
  height: fit-content;
  padding: 100px;
  background: linear-gradient(
    to bottom,
    #040005,
    #2e2e2e,
    #b2b2b2,
    #ffffff
  );
  color: rgb(195, 255, 0);
  font-size: 100px;
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.brand-logo {
  grid-area: brand-logo;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}

.grid {
  border: 1px solid black;
  border-right: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "brand-logo item1 item2 item3 item4";
  margin: 0px 0px 20px 0px;
}

h1 {
  background-color: #040005;
  color: rgb(195, 255, 0);
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 14px;
}

.brand-logo {
  border-right: 1px solid black;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  font-family: "LINESeedKR-Bd";
  font-size: 30px;
  padding-left: 10px;
  -webkit-text-stroke: 1px white;
}

.brand-logo {
  background-size: cover;
}

#brand1 {
  background-image: url("brand1.jpg");
}

#brand2 {
  background-image: url("img11.jpg");
}

#brand3 {
  background-image: url("brand3.jpg");
}

#brand4 {
  background-image: url("brand4.jpg");
}

.item-thumbnail {
  grid-area: item-thumbnail;
}
.item-info {
  grid-area: item-info;
}

.item {
  border-right: 1px solid black;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-areas:
    "item-thumbnail"
    "item-info";
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.item-thumbnail {
  border-bottom: 1px solid black;
  background-position: center;
  background-size: cover;
}

.item-thumbnail:hover {
  transform: scale(1.05);
  border-bottom: none;
  transition: 0.5s;
  transition-timing-function: ease;
  cursor: pointer;
}

.item-name {
  margin: 10px 10px 5px 10px;
  font-family: "Pretendard-Regular";
  font-weight: bold;
  font-size: 16px;
}

a:hover {
  color: rgb(253, 89, 13);
  transition: 0.5s;
}

.price-info {
  margin-bottom: 10px;
}

.item-price {
  display: inline;
  margin: 0px 0px 10px 10px;
  text-decoration: 1px solid rgb(253, 89, 13) line-through;
}

.saled-price {
  display: inline;
  color: rgb(253, 89, 13);
}

/* footer */

footer {
  border-top: 1px solid rgb(230, 230, 230);
  margin-top: 30px;
}

.footnote {
  color: rgb(184, 184, 184);
  text-align: center;
  margin: 15px 0px;
  font-size: 12px;
  line-height: 150%;
}

/*아이템 할당*/

#brand1-thumb1 {
  background-image: url("./img/img19.jpg");
}

#brand1-thumb2 {
  background-image: url("./img/img16.jpg");
}

#brand1-thumb3 {
  background-image: url("./img/img17.jpg");
}

#brand1-thumb4 {
  background-image: url("./img/img20.jpg");
}

#brand2-thumb1 {
  background-image: url("./img/img10.jpg");
}

#brand2-thumb2 {
  background-image: url("./img/img14.jpg");
}

#brand2-thumb3 {
  background-image: url("./img/img12.jpg");
}

#brand2-thumb4 {
  background-image: url("./img/img13.jpg");
}

#brand3-thumb1 {
  background-image: url("./img/img2.jpg");
}

#brand3-thumb2 {
  background-image: url("./img/img3.jpg");
}

#brand3-thumb3 {
  background-image: url("./img/img4.jpg");
}

#brand3-thumb4 {
  background-image: url("./img/img7.jpg");
}

/*Media Query*/

@media all and (max-width: 800px) {
  article {
    font-size: 80px;
  }

  .grid {
    border: 1px solid black;
    border-right: none;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "brand-logo brand-logo"
      "item1 item2"
      "item3 item4";
    margin: 0px 0px 20px 0px;
  }

  .brand-logo {
    border-bottom: 1px solid black;
  }
  .item1,
  .item2 {
    border-bottom: 1px solid black;
  }
  #logo {
    font-size: 24px;
  }
  ul {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
}

/* 검색기능 */

#search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  text-align: end;
  position: relative;
}

#search-input {
  width: 50px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: width 0.4s ease-in-out;
}

#search-input:focus {
  width: 200px;
}

#search-icon {
  margin: 10px;
}

#search-results {
  display: none;
  width: inherit;
  min-height: 67px;
  position: absolute;
  right: -15px;
  bottom: -80px;
  background-color: #040005;
  padding: 15px;
  cursor: pointer;
}

li > a {
  color: rgb(195, 255, 0);
}

@media all and (max-width: 800px) {
    #search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
  }

  #search-input {
    width: 50px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: width 0.4s ease-in-out;
  }

  #search-input:focus {
    width: 150px;
  }

  #search-icon {
    margin: 10px;
  }

  #search-results {
    display: none;
    width: inherit;
    min-height: 67px;
    position: absolute;
    right: -15px;
    bottom: -80px;
    background-color: #040005;
    padding: 15px;
    cursor: pointer;
  }
}

/* 장바구니 */
.flex-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

button{

background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer}
